* {
  font-family: raleway;
}

h1 {
  font-family: roboto;
  font-size: 4.236em;
}

h2 {
  font-family: roboto;
  font-size: 2.168em;
}
ul {
  list-style-type: none;
}
.incident-list-item {
  list-style-type: circle;
}
li {
  /*list-style-type: none;*/
  line-height: 180%;
}

.handlebars-goes-here {
}
