body {
  margin:10px 10px 10px 10px;
}
#headersirens {
  display: flex;
  justify-content: flex-start;
}
#search-bar {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
#index {
  display: flex;
  justify-content: center;
}
#results {
  display: flex;
  justify-content: center;
}
#overview {
  display: flex;
  justify-content: center;
}
#buttoncontainer {
  height: 150px;
  width:200px;
  border: solid 2px;
  border-radius: 15px;
  padding:5px 5px 5px 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#sirens-go {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#results {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#google-map {
  width: 70%;
  height: 350px;
  border: solid 2px;
}
#search-form-no-autodetect{
  display: none;
}

.header-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-left: 5%;
}

.nav-bar {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-size: 1.414em;
}

.nav-bar li {
  border: 1px solid black;
  padding: 1%;
  box-shadow: 1px 1px 1px #534949;
  background-color: #2281E5;
  opacity: 0.8;
}

.nav-bar a {
  text-decoration: none;
  color: inherit;
}

header {
  border-bottom: 1px solid black;
  box-shadow: 1px 1px 1px #534949;
  width:100%;
  position: fixed;
  background-color: white;
  z-index: 1;
  height: 260px;
  padding-bottom: 1%;

}

.container {
  position: absolute;
  top: 260px;
  left:0px;
  right:0px;
  bottom:0px;
  overflow-y:scroll;
}
