.incident-list {
  list-style-type: none;
  font-family: raleway;
  font-weight:bold;
  color: black;
  background-color: #DDD;
  /*margin: 5%;*/
  width: 100%;
  opacity: 0.6;
  box-shadow: 3px 3px 3px #999;
  padding: 0;
  padding-top: 5px;
  padding-bottom: 5px;
}

.readOn {
  padding-bottom: 1%;
  padding-left: 8%;
  /*margin-bottom: 1%;*/
}

.readOn a {
  text-decoration: none;
  color:#2281E5;
  font-weight: bold;

}

.readOn a:hover {
  color: red;
}

.incidents {
  padding-bottom: 20px;
  /*width: 60%;*/
}
