.map-holder{
  /*outline: 1px red solid;*/
  width: 90%;
  margin-top: 2%;
  margin-left: 5%;
  margin-right: 5%;
  position: relative;
  display: none;
}

.map-holder a{
  text-align: left;
  margin-left: 4px;
  position: absolute;
  bottom: 0px;
  right: 0;
}

#google-map {
  width: 100%;
  height: 350px;
  outline: solid 2px;
  margin-left: auto;
  margin-right: auto;
}



#navbar-address-search{
  display: inline-block;
  width: 100%;
  float: right;
  /*margin-right: 4px;*/
  margin-bottom: .5em;
}

.search{
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  background-color: white;
  width: Calc(100% - 80px);
}

.nav-search-button{
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  background-color: white;
  float: right;
}

.h2sirens{
  display: block;
}

.infoWindow-list{
  padding: 0;
}
